@import url("https://fonts.googleapis.com/css2?family=Stylish&display=swap");

main {
  font-family: "Stylish", sans-serif;
}

header {
  font-family: "Stylish", sans-serif;
  background-color: #9c7bac85;
  color: aliceblue;
                     
  & h1 {
    font-size: 30px;
    text-align: center;
    margin-top: 10px;
    cursor: pointer;
    & a {
      color: aliceblue;
    }
    & a:hover {
      color: #9c7bac85;
    }
  }
  & p {
    font-size: 20px;
    text-align: right;
    margin-right: 20px;
  }
}